@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#F8F9FF] text-gray-800 cursor-default
  }
  body {
    @apply relative min-h-screen min-w-full
  }
  .scrollbar::-webkit-scrollbar,
  html::-webkit-scrollbar {
    @apply w-1 h-1 bg-gray-400
  }
  .scrollbar::-webkit-scrollbar {
    @apply rounded-full
  }
  .scrollbar::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-800
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* WebKit browsers */
}

}